{% macro ifdef(key,value,def) %}
{% if value is defined %}
{{key}}={{value}}
{% elif def is defined %}
{{key}}={{def}}
{% endif %}
{% endmacro %}

# This is config file for ZABBIX server process
# To get more information about ZABBIX,
# go http://www.zabbix.com

############ GENERAL PARAMETERS #################

# This defines unique NodeID in distributed setup,
# Default value 0 (standalone server)
# This parameter must be between 0 and 999
{{ ifdef('NodeID',zabbix_server_nodeid)  }}
#NodeID=0

# Number of pre-forked instances of pollers
# Default value is 5
# This parameter must be between 0 and 255
#StartPollers=5
{{ ifdef('StartPollers', zabbix_server_start_pollers) }}

# Number of pre-forked instances of IPMI pollers
# Default value is 0
# This parameter must be between 0 and 255
#StartIPMIPollers=0
{{ ifdef('StartIPMIPollers', zabbix_server_start_ipmi_pollers) }}

# Number of pre-forked instances of pollers for unreachable hosts
# Default value is 1
# This parameter must be between 0 and 255
#StartPollersUnreachable=1
{{ ifdef('StartPollersUnreachable', zabbix_server_start_pollers_unreachable) }}

# Number of pre-forked instances of trappers
# Default value is 5
# This parameter must be between 0 and 255
#StartTrappers=5
{{ ifdef('StartTrappers', zabbix_server_start_trappers) }}

# Number of pre-forked instances of ICMP pingers
# Default value is 1
# This parameter must be between 0 and 255
#StartPingers=1
{{ ifdef('StartPingers', zabbix_server_start_pingers) }}

# Number of pre-forked instances of discoverers
# Default value is 1
# This parameter must be between 0 and 255
#StartDiscoverers=1
{{ ifdef('StartDiscoverers', zabbix_server_start_discoverers) }}

# Number of pre-forked instances of HTTP pollers
# Default value is 1
# This parameter must be between 0 and 255
#StartHTTPPollers=1
{{ ifdef('StartHTTPPollers', zabbix_server_start_http_pollers) }}

# Listen port for trapper. Default port number is 10051. This parameter
# must be between 1024 and 32767

#ListenPort=10051
{{ ifdef('ListenPort', zabbix_server_listen_port) }}

# Source IP address for outgoing connections
#SourceIP=
{{ ifdef('SourceIP', zabbix_server_source_ip) }}

# Listen interface for trapper. Trapper will listen on all network interfaces
# if this parameter is missing.

#ListenIP=127.0.0.1
{{ ifdef('ListenIP', zabbix_server_listen_ip) }}

# How often ZABBIX will perform housekeeping procedure
# (in hours)
# Default value is 1 hour
# Housekeeping is removing unnecessary information from
# tables history, alert, and alarms
# This parameter must be between 1 and 24

#HousekeepingFrequency=1
{{ ifdef('HousekeepingFrequency', zabbix_server_housekeeping_frequency) }}

# Uncomment this line to disable housekeeping procedure
#DisableHousekeeping=1
{{ ifdef('DisableHousekeeping', zabbix_server_disable_housekeeping) }}

# Specifies debug level
# 0 - debug is not created
# 1 - critical information
# 2 - error information
# 3 - warnings (default)
# 4 - for debugging (produces lots of information)

{{ ifdef('DebugLevel', zabbix_server_debug_level, 3) }}

# Specifies how long we wait for agent response (in sec)
# Must be between 1 and 30
{{ ifdef('Timeout', zabbix_server_timeout,5) }}
 
# Specifies how many seconds trapper may spend processing new data
# Must be between 1 and 300
#TrapperTimeout=5
{{ ifdef('TrapperTimeout', zabbix_server_trapper_timeout) }}

# After how many seconds of unreachability treat a host as unavailable
#UnreachablePeriod=45
{{ ifdef ('UnreachablePeriod', zabbix_server_unreachable_period) }}

# How often check host for availability during the unavailability period
#UnavailableDelay=60
{{ ifdef('UnavailableDelay', zabbix_server_unavailable_delay) }}

# Name of PID file

{{ ifdef('PidFile', zabbix_server_pid_file , '/var/run/zabbix/zabbix_server.pid') }}

# Name of log file
# If not set, syslog is used

{{ ifdef('LogFile', zabbix_server_log_file, '/var/log/zabbix-server/zabbix_server.log') }}

# Maximum size of log file in MB. Set to 0 to disable automatic log rotation.
#LogFileSize=1
{{ ifdef('LogFileSize', zabbix_server_log_file_size) }}
 
# Location for custom alert scripts
{{ ifdef('AlertScriptsPath', zabbix_server_alert_scripts_path, '/etc/zabbix/alert.d/') }}

# Location of external scripts
ExternalScripts=/etc/zabbix/externalscripts
{{ ifdef('ExternalScripts', zabbix_server_external_scripts, '/etc/zabbix/externalscripts') }}

# Location of fping. Default is /usr/sbin/fping
# Make sure that fping binary has root permissions and SUID flag set
#FpingLocation=/usr/sbin/fping
{{ ifdef('FpingLocation', zabbix_server_fping_location) }}

# Location of fping6. Default is /usr/sbin/fping6
# Make sure that fping binary has root permissions and SUID flag set
#Fping6Location=/usr/sbin/fping6
{{ ifdef('Fping6Location', zabbix_server_fping6_location) }}

# Temporary directory. Default is /tmp
#TmpDir=/tmp
{{ ifdef('TmpDir', zabbix_server_tmp_dir) }}

# Frequency of ICMP pings (item keys 'icmpping' and 'icmppingsec'). Default is 60 seconds.
#PingerFrequency=60
{{ ifdef('PingerFrequency', zabbix_server_pinger_frequency) }}

# Database host name
# Default is localhost

DBHost={{ zabbix_server_db_host }}

# Database name
# SQLite3 note: path to database file must be provided. DBUser and DBPassword are ignored.
DBName={{ zabbix_server_db_name }}

# Database user

DBUser={{ zabbix_server_db_user }}

# Database password
# Comment this line if no password used

DBPassword={{ zabbix_server_db_password }}

# Connect to MySQL using Unix socket?

#DBSocket=/tmp/mysql.sock
{{ ifdef('DBSocket', zabbix_server_db_socket) }}

